.CautionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Caution {
    width: 40%;
}

.TextContainer {
    width: 80%;
}

.CautionContainer p {
    text-align: center;
    font-size: 44px;

    color: #463939;
}

.CautionContainer a {
    text-decoration: none;
}

.CautionContainer a:first-child span {
    color: #B2D198;
}

.CautionContainer a:last-child span {
    color: #FF7461;
}

#dark .CautionContainer p {
    color: #DBDCE1;
}