.FilterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.FilterContainer img {
    width: 350px;
}

.Filterc {
    display: none;
}

.TextFilterContainer {
    width: 80%;
}

.TextFilterContainer p {
    text-align: center;
    font-size: 44px;
    margin-top: 20px;

    color: #463939;
}

.TextFilterContainer a {
    text-decoration: none;
}

.TextFilterContainer span:first-child {
    color: #B2D198;
}

.TextFilterContainer a:last-child span {
    color: #FF7461;
}

#dark .TextFilterContainer p {
    color: #DBDCE1;
}

#dark .Filterrgb {
    display: none;
}

#dark .Filterc {
    display: block;
}

@media (max-width: 500px) {
    .FilterContainer img {
      width: 80%;
    }

    .TextFilterContainer p:first-child {
        font-size: 20px;
        padding-top: 0;
    }

  }