.DocumentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.DocumentContainer img {
    width: 40%;
}

.TextContainer {
    width: 40%;
    display: flex;
    justify-content: center;
}

.TextContainer p:first-child {
    
    font-size: 44px;
}

.TextContainer p span:first-child {
    color: #B2D198;
}

.TextContainer p:last-child {
    font-size: 44px;
}

.Create {
    display: inline-block;

    text-align: center;
    font-weight: bold;
    width: 52px;
    height: 52px;
    
    border-radius: 50px;

    color: #FAFAFA;
    background: #62B4FE;
}

#dark .TextContainer {
    color: #DBDCE1;
}

#dark .Create {
    background: #AA99FF;
}

@media (max-width: 500px) {
    .DocumentContainer img {
      width: 80%;
    }

    .TextContainer p:first-child {
        font-size: 20px;
        padding-top: 0;
    }

    .Create {
        width: 24px;
        height: 24px;
    }    

  }