html {

  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  position: relative;

}

.light {
  background: #F6FAFB;
}

.dark {
  background: #313642;
}