.TodoCounter {
    font-size: 24px;
    text-align: center;
    color: #594746;
    margin: 0;
    padding: 48px;
}

#dark .TodoCounter {
    color: #F6FAFB;
}

@media (max-width: 500px) { 

    .TodoCounter {
        padding: 20px;
    }
}